<p>todo - mission statement</p>
<div class="experience">
  <h2>experience</h2>
  <p>a preface: i do not believe that result numbers belong in resumes. if you disagree then please do not consider me
    for your opportunity. capitalism high scores are not an indicator of good work. showing understanding of the "why"
    and "how" of prior projects proves ability to take action. it's fine to fail as long as you know how you got
    there.</p>
  {{#each job}}
    <div class="job">
      <h3>{{title}}</h3>
      <small>{{org}}</small>
      <ul>
        {{#each blurb}}
          <li>{{text}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
<div class="knowledge">
  <h2>knowledge</h2>
  <p>i'm a generalist, and i touch <b>a ton</b> of tech with great frequency, but these are <b>roughly</b> ordered by
    level of how quickly i can hit the ground running. regardless of each items' position i typically spin up on
    anything new very fast.</p>
  <table>
    todo
  </table>
</div>
<div class="education">
  <h2>knowledge</h2>
  <p>is this even relevant anymore? i'm old and more concerned about ageism than this</p>
  <h3>Full Sail University</h3>
  <small>Bachelor of Science Degree in Game Development</small>
</div>